.faq__section {
  padding: rem-calc(80 0);

  .faq__wrapper {
    display: grid;
    grid-template-columns: rem-calc(465) 1fr;
    column-gap: rem-calc(105);
    row-gap: rem-calc(50);
    @include breakpoint(medium down) {
      grid-template-columns: repeat(1, 1fr);
    }
  }


  .faq__content {
    max-width: rem-calc(515);
    @include breakpoint(medium down) {
      max-width: none;
    }

  }

  .faq__subtitle {
    margin: rem-calc(0 0 25 0);
  }

  .accordion-title {
    border: 0;

    background-color: transparent !important;
    padding-right: rem-calc(45);
    font-size: rem-calc(18);
    font-family: $inter;
    font-weight: 700;
    color: $total-black;
    line-height: 1.2;
    @include breakpoint(small down) {
      padding-left: 0;
    }
  }


  .accordion-title:before {
    content: "";
    font-weight: 900;
    font-family: $fa;
    color: $sub-color;
    font-size: rem-calc(10);
    transform: translate(0, -50%);
    margin-top: 0;
    @include breakpoint(small down) {
      right: 0;
    }
  }

  .is-active .accordion-title:before {
    content: "";
  }

  .accordion-content {
    background-color: transparent;
    border: 0px;
    padding-bottom: 2rem;
    padding-top: 0;
    font-family: $inter;
    font-size: rem-calc(18);
    color: #3C3C43D9;
    @include breakpoint(small down) {
      padding-left: 0;
    }
  }


  .faq__block {
    background-color: transparent;

    .accordion-item:last-child {
      .accordion-title {
        border-bottom: 0px;
      }
    }
  }


}